<!DOCTYPE html>
<html lang="es" ng-app="FirstApp">
<head>
	
	<link rel="icon" href="/daenerys_con_angularjs/img/favicon.ico" type="image/x-icon">
	<meta charset="UTF-8">
	<title>Pruebas con codigo facilito</title>
	<script src="js/angular.js"></script>
	<script src="js/app.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	

    <!-- Custom styles for this template -->
    <link href="/daenerys_con_angularjs/css/starter-template.css" rel="stylesheet">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	
</head>
<body ng-controller="appCtrl">
	
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      
          <a class="navbar-brand" href="#">Curso de AngularJS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Ejemplo de Angular</h1>
        
        <input type="text" ng-model="newComentario.comentario">	
	<br>
	<input type="text" ng-model="newComentario.usuario">	
	<br>
	<button ng-click="addcomentario()">Agregar Comentario</button>
	
	<h1>Comentarios</h1>
	<ul ng-repeat="com in comentarios" >
		<li>
			<strong>
			{{com.comentario}} - {{com.usuario}}	
			</strong>
		</li>
	</ul>	
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/daenerys_con_angularjs//js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/daenerys_con_angularjs/js/ie10-viewport-bug-workaround.js"></script>
	
	
</body>
</html>