<!DOCTYPE html>
<html lang="en" ng-app="unaApp">
<head>
	<meta charset="UTF-8">
	<title>To do list</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="/AngularJS/js/angular-local-storage.min.js"></script>
	<script src="app.js"></script>

	</head>
<body ng-controller="appCtrl">

	<ul>
		<li ng-repeat="pack in to">
			{{pack.descripcion}} -
			{{pack.fecha}}
			
		</li>
	</ul>
	
	<section>
		
		<form ng-submit="addActv()">
			<input type="text" ng-model="newActv.descripcion">
			<input type="datetime-local" ng-model="newActv.fecha">
			<input class="btn" type="submit" value="Guardar Actividad">
		</form>
	</section>
</body>
</html>